.App {
	display: flex;
	align-items: center;
	height: 100vh;
}
.carousel {
	cursor: grab;
	overflow: hidden;
	display: flex;
}

.inner-carousel {
	display: flex;
	background-color: white;
}

.item {
	width: 15rem;
	height: 20rem;
	padding: 20px;
}

.item img {
	width: 15rem;
	height: 20rem;
	border-radius: 2rem;
	pointer-events: none;
}
